.header-main__button button{
    transition:all linear 0.3s;
}

.header-main__navbar--select ul{
    display:none;
}

.header-main__navbar--select:hover ul{
    margin-top:4px;
    transition: all linear 0.3s;
    display:flex;
    width: 250px;
}

@media screen and (max-width:992px){
    .header-main div nav {
        position: absolute;
        background: rgb(229 231 235);
        top: 20%;
        padding:15px;
    }
}

.header-main__navbar--select:hover ul li{
    transition:all linear 0.1s ;
}

.header-main__navbar--select:hover ul li:hover {
    background-image: linear-gradient(#5caf21 , #46a634);
    color:#ffff;
    padding: 5px;
    border-radius:5px;
}

.article-section__box--right-first:hover ,
.article-section__box--right-first:hover .article-section__box--right__badge-first{
    border:2px solid #5caf21;
}

.article-section__box--right-second:hover ,
.article-section__box--right-second:hover .article-section__box--right__badge-second{
    border:2px solid #5caf21;
}

.article-section__box--right-third:hover ,
.article-section__box--right-third:hover .article-section__box--right__badge-third{
    border:2px solid #5caf21;
}

.article-section__box--right-fourth:hover ,
.article-section__box--right-fourth:hover .article-section__box--right__badge-fourth{
    border:2px solid #5caf21;
}

.famous-period__bg-image{
    background-image:url("photos/all-photo/background-image.jpg");
    opacity:0.9;
    background-size:cover;
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
}

div.famous-period__slideshow div.swiper-slide{
    display:none;
    @media screen and (min-width:400px){
        display:block;
    };
}

div.famous-period__slideshow div.swiper-slide__mobile{
    display:block;
    @media screen and (min-width:400px){
        display:none;
    }
}

/* a.famous-period__box div >div{
    box-shadow:0px 5px 10px rgb(108, 108, 108);
} */

.swiper , .Swiper_second{
    width:100%;
    height:auto;
    padding-bottom:10px !important;
}

.swiper-wrapper , .swiper-slide{
    width:auto !important;
}

section div.bg-best-product-img{
    width:100%;
    background-image:url('photos/all-photo/bg-footer.png');
    background-size:cover;
    height: auto;
}

